.contact-heading {
  font-size: 60px;
  font-weight: bolder;
}
.contact-small-heading {
  font-size: 40px;
  font-weight: bolder;
}
.contact-sub-heading {
  font-size: large;
  font-weight: normal;
}
